.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.landing-page .div {
  max-width: 600px; 
  padding: 20px; 
}

.landing-page .text-wrapper {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 4rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2em;
}

.landing-page .overlap-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landing-page .p {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 2rem; /* Scale the font size with the viewport width */  
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.landing-page .rectangle {
  background-color: #234058;
  border-radius: 10px;
  width: 100%;
  max-width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.landing-page .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3vw;
  text-align: center;
}

.landing-page .element-godogo-nose {
  width: 10vw;
  height: auto;
  object-fit: cover;
  margin-bottom: 2em;
}

.landing-page .image {
  width: 50vw;
  height: auto;
  object-fit: cover;
}
