

/* New styles for the smartphone overlay */
.smartphone-app-overlay {
  background-image: url(images/phone-screen.png);
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 230px; /* Adjust as needed */
  height: 475px; /* Adjust as needed */
  background-color: #f0f0f0; /* A placeholder if you don't have an image ready */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* Optional: for rounded corners */
  z-index: 10; /* Ensure it's above other elements, adjust if necessary */
}

.app-button {
  font-family: Montserrat, sans-serif;
  font-size: .9rem;
  color: white;
  background-color: #234058; /* Keeping button styles consistent with .btn */
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-top: 10px; /* Space out buttons */
}

.app-button:hover {
  background-color: #30597b; /* Keeping hover effect consistent with .btn:hover */
}

.app-button:focus {
  background-color: #2796ff; /* Keeping focus effect consistent with .btn:focus */
}

/* Livingroom scene background */

.living-room-scene {
  background-image: url(images/playarea.png);
  background-size: cover; /* Cover ensures the background covers the area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100vw; /* Set width to 100% of the parent element */
  height: 100vh; /* Set a height, vh units will make it responsive to the viewport height */
}

.sitting {
  background-image: url(images/play-area-02sit.jpg);
  background-size: cover; /* Cover ensures the background covers the area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100vw; /* Set width to 100% of the parent element */
  height: 100vh; /* Set a height, vh units will make it responsive to the viewport height */
}

.sitting-fireworks {
  background-image: url(images/sit-fireworks.png);
  background-size: cover; /* Cover ensures the background covers the area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100vw; /* Set width to 100% of the parent element */
  height: 100vh; /* Set a height, vh units will make it responsive to the viewport height */
}

.get-treat {
  background-image: url(images/get-treat.png);
  background-size: cover; /* Cover ensures the background covers the area */
  background-position: center; /* Center the background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  width: 100vw; /* Set width to 100% of the parent element */
  height: 100vh; /* Set a height, vh units will make it responsive to the viewport height */
}